@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  color: #141024;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
